
{% extends "baselogin.html" %}
{% load static %}

<!--add format forms-->
{% load widget_tweaks %}

<!--Add extras-->
{% load changes_extras %}

<!-- Begin title-->
{%block title %}
	{{ title.login }}
{% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row card-row">
        <div class="col l6 offset-l3">
            <div class="card white card-login">
                <div class="card-content">
                    <h1 class="center title">Resetear Contraseña</h1>
                    <div class="row">
											<form action="" method="post">
												{% csrf_token %}
												{% for field in form.visible_fields %}
													<div class="form-group">
														<div class="input-group">
															<span class="input-group-addon"><i class="{{ field.label|replace:1 }}"></i></span>
															{% render_field field class="form-control" placeholder=field.label|replace:0 %}
															<strong style="color: red;">{{ field.errors }}</strong>
														</div>
													</div>
												{% endfor %}
												<div class="row">
													<div class="center">
														<div class="row">
															<button type="submit" class="col s10 offset-s1
															center waves-effect waves-light
															btn-large btn-login">Enviar</button>
													</div>
												</div>
												</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}