{% extends "baselogin.html" %}
{% load static %}

<!--add format forms-->
{% load widget_tweaks %}

<!--Add extras-->
{% load changes_extras %}

<!-- Begin title-->
{%block title %}
	{{ title.login }}
{% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row card-row">
        <div class="col l6 offset-l3">
            <div class="card white card-login">
                <div class="card-content">
                    <h1 class="center title">Reseteo de Contraseña Ejecutado</h1>
                    <div class="row">
                        <hr>
                        <div class="forgot-pass">
                            Un email con instrucciones se le ha enviado.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}