
{% extends "baselogin.html" %}
{% load static %}

<!--add format forms-->
{% load widget_tweaks %}

<!--Add extras-->
{% load changes_extras %}

<!-- Begin title-->
{%block title %}
	{{ title.login }}
{% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row card-row">
        <div class="col l6 offset-l3">
            <div class="card white card-login">
                <div class="card-content">
                    <h1 class="center title">Registro</h1>
                    <p class="center forgot-pass">Únase al boletín de Arasunu</p>
                    <p class="center forgot-pass">Reciba las últimas noticias sobre el pronóstico del clima</p>
                    <div class="row">
						<form action="" method="post">
							{% csrf_token %}
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon"><i class="{{ field.label|replace:1 }}"></i></span>
                                {% render_field field class="form-control" placeholder=field.label|replace:0 %}
                                <strong class="text-danger">{{ field.errors }}</strong>
                                </div>
                            </div>
                            {% endfor %}
							<div class="row">
								<div class="center">
									<div class="row">
										<button type="submit" class="col s10 offset-s1
										center waves-effect waves-light
										btn-large btn-login">Registrar
									</button>
								</div>
							</div>
					    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}