{% load static %}
<header class="main-header">
  <!--LOGOTIPO-->
  <a href="{% url 'users:dashboard' %}" class="logo">
    <!-- logo min-->
    <span class="logo-mini">
      <img
        src="{% static 'img/templates/logo-mini.png' %}"
        class="img-responsive"
        style="padding: 10px;"
      />
    </span>
    <!-- logo normal-->
    <span class="logo-lg">
      <img
        src="{% static 'img/templates/arasunu-large.png' %}"
        class="img-responsive"
        style="padding: 10px 0px;"
      />
    </span>
  </a>
  <!--BARRA DE NAVEGACION-->
  <nav class="navbar navbar-static-top" role="navigation">
    <!--Boton de navegacion-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!--Perfil de usuario-->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {% if request.user.profile.picture.url != '' %}
            <img
            src="{{ request.user.profile.picture.url }}"
            class="user-image"
            alt=""
            />
          {% else %}
            <img
            src="{% static 'media/users/default/anonymous.png' %}"
            class="user-image"
            alt=""
            />
          {% endif %}
            <!-- <svg xmlns="{# % static 'media/users/default/person.svg' % #}" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg> -->
            <san class="hidden-xs">{{ request.user }}</san>
          </a>
          <!--Dropdown-toggle-->
          <ul class="dropdown-menu">
            <li class="user-body">
              <div class="pull-right">
                <a href="{% url 'users:change' request.user.id %}" class="btn btn-default btn-flat">Cambiar Contraseña</a>
              </div>
            </li>
            <li class="user-body">
              <div class="pull-right">
                <a href="{% url 'pages:logout' %}" class="btn btn-default btn-flat">Salir</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
