<!--add base template-->
{% extends "base.html" %}

<!--Add extras-->
{% load changes_extras %}

<!--add format forms-->
{% load widget_tweaks %}

<!--load statics files-->
{% load static %}

<!-- Begin title-->
{%block title %}
{{ title.show }} {% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
<!-- Add css-->
{% endblock %}
<!-- End css-->
{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{ title.show }}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="{% url 'users:dashboard' %}"><i class="fa fa-dashboard"></i> {{ title.dashboard }} </a>
      </li>
      <li class="active">{{ title.show }}</li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <a href="{% url uri.create %}" class="btn btn-primary"> {{ title.create }}</a>
        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-striped dt-responsive tablas">
          <thead>
            <tr>
              <tr>
              {% for title in list_title %}
                <th> {{ title }} </th>
              {% endfor %}
              </tr>
            </tr>
          </thead>
          <tbody>
            {% for item in object_list %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.id_ciudad }}</td>
              <td>{{ item.lon_gra }}</td>
              <td>
                <div class="btn-groups">
                  <a href="{% url uri.edit  item.id  %}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                  <a href="{% url uri.delete  item.id  %}" class="btn btn-danger"><i class="fa fa-times"></i></a>
                </div>
              </td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            {% if object_list.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1">Primero</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Ant</a></li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Ant</span>
              </li>
            {% endif %}
            {% for pg in object_list.paginator.page_range %}
              {% if object_list.number == pg %}
                <li class="page-item active">
                  <span class="page-link">
                    {{ pg }}
                  <span class="sr-only">(current)</span>
                  </span>
                </li>
              {% elif pg|add:"-10" <= object_list.number and object_list.number <= pg|add:"10" %}
                <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{pg}}</a></li>
              {% endif %}
            {% endfor %}
            {% if object_list.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ object_list.next_page_number }}">Sig</a>
              </li>
              <li clss="page-item">
                <a class="page-link" href="?page={{ object_list.paginator.num_pages }}">Ultimo</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Sig</span>
              </li>
            {% endif %}
           </ul>
        </nav>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!--Begin js-->
{% block javascript %}
{% endblock %}
